body {
    margin: 0;
    background: rgb(241, 241, 241);
    font-family: 'Roboto', sans-serif;

    .app {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100vh;

        .navbar {
            height: 60px;
        }
        .app-content {
            overflow: auto;
            height: calc(100% - 60px);
            padding: 5px 30px 30px 30px;
            transition: padding 0.2s ease-in-out;

            @media screen and (max-width: 991px) {
                padding: 5px 15px 15px 15px;
            }
        }
    }

    .no-style {
        border: initial;
        background: initial;
        outline: initial;
        padding: 0;
        cursor: pointer;
    }
}
