.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  @media screen and (max-width: 991px) {
    padding: 0 15px;
  }
  .group {
    display: flex;
    align-items: center;

    h1 {
      margin: 0;
      font-size: 35px;

      @media screen and (max-width: 667px) {
        display: none;
      }
    }
    .MuiButton-root {
      margin-right: 10px;
    }
  }
}